.home {
  display: flex;
  flex-direction: row;
  height: 100vh;

  .homeSection {
    flex: 1;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;

    .homeBlock {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .asideBlockHeader {
    padding: 10px 30px;

    .asideList {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .asideListBtn {
        font-size: 18px;
        font-weight: bold;
        list-style-type: none;
        cursor: pointer;
        color: white;
      }

      .asideListActiveBtn {
        font-size: 18px;
        font-weight: bold;
        list-style-type: none;
        cursor: pointer;
        color: white;
        border-bottom: 3px solid pink;
      }
    }
  }
}
